language: scala
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
matrix:
  include:
    - os: linux
      jdk: openjdk-ea
    - os: linux
      jdk: openjdk11
    - os: osx
      jdk: openjdk11
  allow_failures:
    - jdk: openjdk-ea
scala:
  - 2.13.0
script:
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
after_success:
  - bash <(curl -s https://codecov.io/bash)
